Package: ws.hbang.flagpaint7
Name: FlagPaint 2 (iOS 7 & 8)
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.2.2)
Conflicts: org.thebigboss.flagpaint, ws.hbang.flagpaint7lite
Replaces: org.thebigboss.flagpaint, ws.hbang.flagpaint7lite
Version: 2.4
Architecture: iphoneos-arm
Description: Tint notifications based on icon color
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq
Section: Tweaks
Tag: cydia::commercial
