Package: ws.hbang.flagpaint7lite
Name: FlagPaint7 Lite
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Conflicts: org.thebigboss.flagpaint, ws.hbang.flagpaint7
Replaces: org.thebigboss.flagpaint, ws.hbang.flagpaint7
Version: 1.0
Architecture: iphoneos-arm
Description: Tint banners based on icon color
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Tweaks
