<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>condensed</key>
			<true/>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>packageIdentifier</key>
			<string>ws.hbang.flagpaint7</string>
			<key>packageNameOverride</key>
			<string>FlagPaint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EMAIL_SUPPORT_HEADER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>hb_sendSupportEmail</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>EMAIL_SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVELOPER</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Adam Demasi</string>
			<key>user</key>
			<string>hbkirb</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ICON</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Kyle Revony</string>
			<key>user</key>
			<string>krevony</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TRANSLATORS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>CA</string>
			<key>label</key>
			<string>Quan van der Knokke</string>
			<key>user</key>
			<string>quanvdknokke</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>CS</string>
			<key>label</key>
			<string>Luu Trong Dat</string>
			<key>user</key>
			<string>david19au</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>DE</string>
			<key>label</key>
			<string>Benno Krauss</string>
			<key>user</key>
			<string>bensge</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>FI</string>
			<key>label</key>
			<string>Joonas H.</string>
			<key>user</key>
			<string>Tuhoontuomittu</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>FR</string>
			<key>label</key>
			<string>Steven</string>
			<key>user</key>
			<string>73steven</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>HE</string>
			<key>label</key>
			<string>Aran Shavit</string>
			<key>user</key>
			<string>Aranshavit</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>HR</string>
			<key>label</key>
			<string>PIPe</string>
			<key>user</key>
			<string>PIPeJTV</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>HU</string>
			<key>label</key>
			<string>Bence Petrezsely</string>
			<key>user</key>
			<string>BenciikeePetrez</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>IT</string>
			<key>label</key>
			<string>Michele</string>
			<key>user</key>
			<string>colamiki30</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>MS</string>
			<key>label</key>
			<string>syamersam</string>
			<key>user</key>
			<string>syamersam</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>NL</string>
			<key>label</key>
			<string>Timon Olsthoorn</string>
			<key>user</key>
			<string>tmnlsthrn</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>NO</string>
			<key>label</key>
			<string>Mustafa Gezen</string>
			<key>user</key>
			<string>switchpwn</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>PT</string>
			<key>label</key>
			<string>Nino</string>
			<key>user</key>
			<string>carlyslayjepsen</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>pt_PT</string>
			<key>label</key>
			<string>João Oliveira</string>
			<key>user</key>
			<string>bassoptumc</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>RO</string>
			<key>label</key>
			<string>Rav</string>
			<key>user</key>
			<string>razvici</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>SV</string>
			<key>label</key>
			<string>Filip Torstensson</string>
			<key>user</key>
			<string>XIFiliPIX</string>
		</dict>
	    <dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>TR</string>
			<key>label</key>
			<string>Kadir Akmeşe</string>
			<key>user</key>
			<string>KadirAkms</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>VI</string>
			<key>label</key>
			<string>SnowPoke</string>
			<key>user</key>
			<string>loststars93</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>zh_HK</string>
			<key>label</key>
			<string>darkj2k</string>
			<key>user</key>
			<string>darkj2k</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>zh_TW</string>
			<key>label</key>
			<string>ZGMF-X20A</string>
			<key>user</key>
			<string>zmfg_x20a</string>
		</dict>
	</array>
	<key>title</key>
	<string>ABOUT</string>
</dict>
</plist>
