<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>HBLinkFooterCell</string>
			<key>footerText</key>
			<string>TINT_COLORS_EXPLANATION</string>
			<key>footerURL</key>
			<string>https://www.hbang.ws/tweaks/flagpaint/themers/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TINT_VIBRANCY</string>
			<key>footerText</key>
			<string>TINT_VIBRANCY_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>65</real>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>TintVibrancy</string>
			<key>label</key>
			<string>TINT_VIBRANCY</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>ThemesDebugInfo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>CUSTOM_TINT_COLORS</string>
		</dict>
	</array>
	<key>title</key>
	<string>COLORS</string>
</dict>
</plist>
