<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>TintLockScreen</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adds a subtle fade effect to the top and bottom of the notification list.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>LockGradient</string>
			<key>label</key>
			<string>Gradient</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>LockFade</string>
			<key>label</key>
			<string>Fade Top and Bottom</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hide Elements</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>RemoveLockAction</string>
			<key>label</key>
			<string>Hide “Slide To”</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showTestLockScreenNotification</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Test Lock Screen Notification</string>
		</dict>
	</array>
	<key>title</key>
	<string>Lock Screen</string>
</dict>
</plist>
