<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>TintLockScreen</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FADE_EDGES_EXPLANATION</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>LockGradient</string>
			<key>label</key>
			<string>GRADIENT</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>LockFade</string>
			<key>label</key>
			<string>FADE_EDGES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DISABLE_DIMMING_EXPLANATION</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>LockDisableDimming</string>
			<key>label</key>
			<string>DISABLE_DIMMING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BACKGROUND_OPACITY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>50</real>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>LockOpacity</string>
			<key>label</key>
			<string>BACKGROUND_OPACITY</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HIDE_ELEMENTS_TITLE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>RemoveLockAction</string>
			<key>label</key>
			<string>HIDE_SLIDE_ACTION</string>
		</dict>
	</array>
	<key>title</key>
	<string>LOCK_SCREEN</string>
</dict>
</plist>
