<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>TintNotificationCenter</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FADE_EDGES_EXPLANATION</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>NotificationCenterFade</string>
			<key>label</key>
			<string>FADE_EDGES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BACKGROUND_OPACITY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>35</real>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>id</key>
			<string>NotificationCenterOpacity</string>
			<key>key</key>
			<string>NotificationCenterOpacity</string>
			<key>label</key>
			<string>BACKGROUND_OPACITY</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>77</real>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>id</key>
			<string>NotificationCenterOpacityHighContrast</string>
			<key>key</key>
			<string>NotificationCenterOpacity</string>
			<key>label</key>
			<string>BACKGROUND_OPACITY</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RESPRING_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
	</array>
	<key>title</key>
	<string>NOTIFICATION_CENTER</string>
</dict>
</plist>
