<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>detail</key>
			<string>HBFPBannersListController</string>
			<key>get</key>
			<string>bannerTintEnabled:</string>
			<key>id</key>
			<string>Tint</string>
			<key>key</key>
			<string>Tint</string>
			<key>label</key>
			<string>Banners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>detail</key>
			<string>HBFPBannersListController</string>
			<key>get</key>
			<string>lockScreenTintEnabled:</string>
			<key>key</key>
			<string>TintLockScreen</string>
			<key>key</key>
			<string>TintLockScreen</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>TintNotificationCenter</string>
			<key>label</key>
			<string>Notification Center</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Various</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>id</key>
			<string>BigIcon</string>
			<key>key</key>
			<string>BigIcon</string>
			<key>label</key>
			<string>Bigger Icon</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>RemoveDateLabel</string>
			<key>label</key>
			<string>Hide “Now” Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Test Notifications</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showTestBanner</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Test Banner</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showTestLockScreenNotification</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Test Lock Screen Notification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBFPAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>About</string>
		</dict>
	</array>
	<key>title</key>
	<string>FlagPaint7</string>
</dict>
</plist>
