<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FlagPaint tints the background of notifications based on the colors in the icon.</string>
			<key>label</key>
			<string>Tint Background</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>Tint</string>
			<key>label</key>
			<string>Banners</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>TintLockScreen</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>TintNotificationCenter</string>
			<key>label</key>
			<string>Notification Center</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Shows the currently playing song’s album art for banners shown by tweaks such as NowListening.</string>
			<key>label</key>
			<string>Various</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>id</key>
			<string>BigIcon</string>
			<key>key</key>
			<string>BigIcon</string>
			<key>label</key>
			<string>Bigger Icon</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>id</key>
			<string>AlbumArt</string>
			<key>key</key>
			<string>AlbumArt</string>
			<key>label</key>
			<string>Album Art Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>BannersSection</string>
			<key>label</key>
			<string>Banners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Text shadows are currently incompatible with TinyBar.</string>
			<key>id</key>
			<string>BannersSectionDisabled</string>
			<key>label</key>
			<string>Banners</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>id</key>
			<string>Gradient</string>
			<key>key</key>
			<string>Gradient</string>
			<key>label</key>
			<string>Use Gradient</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>Semitransparent</string>
			<key>label</key>
			<string>Semi-Transparent</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>BorderRadius</string>
			<key>label</key>
			<string>Round Borders</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>id</key>
			<string>TextShadow</string>
			<key>key</key>
			<string>TextShadow</string>
			<key>label</key>
			<string>Text Shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>enabled</key>
			<false/>
			<key>id</key>
			<string>TextShadowDisabled</string>
			<key>label</key>
			<string>Text Shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adds a subtle fade effect to the top and bottom of the notification list.</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>LockGradient</string>
			<key>label</key>
			<string>Use Gradient</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>LockFade</string>
			<key>label</key>
			<string>Fade Top and Bottom</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hide Elements</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>RemoveIcon</string>
			<key>label</key>
			<string>Hide Icon</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>RemoveGrabber</string>
			<key>label</key>
			<string>Hide Grabber</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.flagpaint/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.flagpaint</string>
			<key>key</key>
			<string>RemoveDateLabel</string>
			<key>label</key>
			<string>Hide “Now” Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Test Notifications</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showTestBanner</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Test Banner</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showTestLockScreenNotification</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Test Lock Screen Notification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBFPAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>About</string>
		</dict>
	</array>
	<key>title</key>
	<string>FlagPaint7</string>
</dict>
</plist>
